*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace,sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    /* min-height: fit-content; */
}
.heading{
    color: #fff;
    /* z-index: 2; */
    /* margin:1rem 0; */
}
.terminal{
    /* width: 1000px; */
    width: 90%;
    /* min-height: fit-content; */
    height: 85vh;
    /* height: 800px; */
    /* border: 2px solid #fff; */
    border-radius: 10px;
    background-color: #222;
}
textarea::-webkit-scrollbar{
    width: 5px;
}
textarea::-webkit-scrollbar-thumb{
    background-color: #13f9a3;
}
textarea::-webkit-scrollbar-track{
    background-color: #000;
}
.terminal .terminal-header{
    width: 100%;
    height: 3rem;
    background-color: #555;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
}
.terminal .terminal-header .circles{
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.terminal .terminal-header .circles .red{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: crimson;
}
.terminal .terminal-header .circles .orange{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: orange;
}
.terminal .terminal-header .circles .green{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #13f9a3;
}
.terminal .terminal-body{
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 1rem;
    border: none;
    outline: none;
    resize: none;
    background-color: #222;
    cursor: text;
    caret-color: #13f9a3;
    font-size: 17px;
}